@import url("https://fonts.googleapis.com/css?family=Oswald|Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald|Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald|Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald|Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald|Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Liu+Jian+Mao+Cao&display=swap");
#light:active:target {
  background: white;
  color: black;
}

#switch:checked ~ .dark-mode {
  background: white;
  color: black;
}

input[type=checkbox]:checked ~ .dark-mode {
  background: white;
  color: black;
}

body {
  margin: 0;
}

.site-content {
  flex: 1;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active {
  color: inherit;
}

body {
  box-sizing: border-box;
  background-color: #292922;
  background: linear-gradient(to right bottom, #292922 70%, #37372e 30%);
  color: #b1b1b1;
  font-family: "Space Mono", monospace;
}

h1, h2 {
  font-family: "Oswald", sans-serif;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

ul li {
  list-style-type: none;
}

.resume {
  position: fixed;
  right: 0;
  top: 50vh;
  text-align: center;
  transform: translateY(-50%);
  z-index: 2;
}
.resume a {
  display: block;
}
.resume__line {
  background-color: #b1b1b1;
  height: 3px;
  width: 20px;
  padding: 0 5px;
}
.resume__logo {
  font-size: xx-large;
}

.top {
  display: block;
  text-align: center;
  margin: 2em auto 0 auto;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1000ms;
}
.top i {
  font-size: 24px;
}
.top:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 975px) {
  .top {
    display: none;
  }
}
button {
  display: block;
  margin: 2em auto;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 1em 2em;
}
.footer ul li {
  display: inline;
  margin: 0 12px;
}
.footer__page {
  justify-self: center;
}
.footer__network {
  justify-self: right;
}

@media screen and (max-width: 875px) {
  .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .footer .footer__link {
    display: none;
  }
}
header {
  align-items: baseline;
  display: flex;
  height: 4vw;
  justify-content: space-between;
  -webkit-animation: slide-down 3s normal;
  -moz-animation: slide-down 3s normal;
  -o-animation: slide-down 3s normal;
  animation: slide-down 3s normal;
}

.nav {
  align-items: center;
  background: #292922;
  display: flex;
  height: 70px;
  justify-content: space-between;
  min-width: 100vw;
  position: fixed;
  z-index: 100;
}
.nav__brand {
  position: relative;
  text-align: center;
  text-decoration: none;
}
.nav__network {
  padding: 10vh 0 30vh;
  border-bottom: solid 1px #3e436b;
}
.nav__network li {
  display: inline;
}
.nav .burger-menu {
  cursor: pointer;
  display: none;
  margin-left: auto;
  position: relative;
  right: 20px;
  top: -3px;
  z-index: 100;
}
.nav h1 {
  color: #3e436b;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.372em;
  margin-left: 2em;
  text-transform: uppercase;
}
.nav input[type=checkbox] {
  display: none;
}
.nav__items {
  align-items: center;
  display: flex;
  list-style: none;
  margin-right: 1rem;
  min-height: 72px;
}
.nav__link {
  color: #b1b1b1;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition: 0.5s;
}
.nav .nav__link--active {
  color: #302AE6;
}

@media screen and (min-width: 800px) {
  .nav .nav__items .nav__link--page {
    display: inline-block;
    margin-left: 20px;
    padding: 6px 0;
    position: relative;
    transform-origin: 100% 50%;
    z-index: 1;
  }
  .nav .nav__items .nav__link--page a {
    transition: 0.5s;
  }
  .nav .nav__items .nav__link--page::after {
    background: #302AE6;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 90%;
    width: 90%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  .nav .nav__items .nav__link--page:hover {
    color: #777;
  }
  .nav .nav__items .nav__link--page:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .nav .nav__link--social {
    display: inline;
  }
}
@media screen and (max-width: 799px) {
  .nav {
    flex-wrap: wrap;
    padding: 0 0.5em;
  }
  .nav .burger-menu {
    display: block;
    margin-right: 1em;
  }
  #checkbox-dropdown:checked ~ .nav__items {
    max-height: 1136px;
  }
  .nav__items {
    background: #292922;
    display: block;
    left: 0;
    min-height: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    transition: max-height 0.5s;
    top: 70px;
    z-index: 100;
    width: 100%;
  }
  .nav__link {
    display: inline-block;
    width: 50%;
  }
}
@-webkit-keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
#light:active:target {
  background: white;
  color: black;
}

#switch:checked ~ .dark-mode {
  background: white;
  color: black;
}

input[type=checkbox]:checked ~ .dark-mode {
  background: white;
  color: black;
}

.about .red {
  background: #e5461f;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  animation: square-to-circle 2s infinite alternate;
}
.about__me {
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 3em;
}
.about__me h3 {
  display: block;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  letter-spacing: 0.3px;
  font-size: 7.5em;
  font-family: "Oswald", sans-serif;
  margin-block-end: 0.3em;
  -webkit-animation: slide-left 5s normal;
  -moz-animation: slide-left 5s forwards;
  -o-animation: slide-left 5s normal;
  animation: slide-left 5s normal;
}
.about__me p {
  margin: auto;
  text-align: justify;
  width: 50%;
  -webkit-animation: 5s slide 5s normal;
  -moz-animation: 5s slide 5s forwards;
  -o-animation: 5s slide 5s normal;
  animation: 5s slide 5s normal;
}
.about__skills {
  padding: 3em;
}
.about__skills h3 {
  display: block;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  letter-spacing: 0.3px;
  font-size: 7.5em;
  font-family: "Oswald", sans-serif;
  margin-block-end: 0;
  margin-inline-end: 1.5em;
  text-align: right;
  -webkit-animation: slide-left 5s normal;
  -moz-animation: slide-left 5s forwards;
  -o-animation: slide-left 5s normal;
  animation: slide-left 5s normal;
}
.about__skills .bar {
  background: #cccbc9;
  width: 800px;
  height: 24px;
  border-radius: 2px;
  margin: auto;
  margin-bottom: 20px;
}
.about__skills h4 {
  font-size: 12px;
  text-transform: uppercase;
}
.about__skills .bar__progress--html {
  width: 40vw;
  height: 24px;
  border-radius: 2px;
  background: url("../public/img/grey.jpg");
  animation: bar-animation 1000ms 2s;
}
.about__skills .bar__progress--css {
  width: 30vw;
  height: 24px;
  border-radius: 2px;
  background: url("../public/img/grey.jpg");
  animation: bar-animation 1000ms 3s;
}
.about__skills .bar__progress--js {
  width: 10vw;
  height: 24px;
  border-radius: 2px;
  background: url("../public/img/grey.jpg");
  animation: bar-animation 1000ms 4s;
}
.about__skills .bar__progress--react {
  width: 15vw;
  height: 24px;
  border-radius: 2px;
  background: url("../public/img/grey.jpg");
  animation: bar-animation 1000ms 5s;
}
.about__skills .bar__progress--node {
  width: 10vw;
  height: 24px;
  border-radius: 2px;
  background: url("../public/img/grey.jpg");
  animation: bar-animation 1000ms 6s;
}
.about__skills .bar__progress--sql {
  width: 15vw;
  height: 24px;
  border-radius: 2px;
  background: url("../public/img/grey.jpg");
  animation: bar-animation 1000ms 7s;
}
.about__joke {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 3em;
}
.about__joke--img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.about__joke--img img {
  animation: roll-in 4s ease;
  box-shadow: 0 1em 0.5em #777;
  position: relative;
  width: 25vw;
}
.about__joke--img h3 {
  animation: roll-in 4s ease;
  text-align: right;
}
.about__joke .vertical {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  align-self: start;
  margin: 3em -0.6em;
}
.about__joke--text {
  margin: auto;
}
.about__joke--text h3 {
  animation: text-animation 3s 300ms reverse;
}
.about__joke--text ul li {
  font-size: 1.5em;
}
.about__joke--text ul li:nth-child(1) {
  animation: text-animation 3s 400ms reverse;
}
.about__joke--text ul li:nth-child(2) {
  animation: text-animation 3s 500ms reverse;
}
.about__joke--text ul li:nth-child(3) {
  animation: text-animation 3s 600ms reverse;
}
.about__joke--text ul li:nth-child(4) {
  animation: text-animation 3s 700ms reverse;
}
.about__joke--text ul li:nth-child(5) {
  animation: text-animation 3s 800ms reverse;
}
.about__joke--text ul li:nth-child(6) {
  animation: text-animation 3s 900ms reverse;
}
.about__joke--text ul li:nth-child(7) {
  animation: text-animation 3s 1s reverse;
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(-100%), margin-left(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slide {
  0% {
    transform: translateX(-100%), margin-left(50vw);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes slide {
  0% {
    transform: translateX(-100%), margin-left(50vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    transform: translateX(-100%), margin-left(50vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bar-animation {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes text-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -50%, 0);
  }
  20%, 80% {
    transform: translate3d(2px, -50%, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-3px, -50%, 0);
  }
  40%, 60% {
    transform: translate3d(3px, -50%, 0);
  }
}
@keyframes roll-in {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) rotate(0deg);
  }
}
@keyframes square-to-circle {
  0% {
    border-radius: 0 0 0 0;
  }
  25% {
    border-radius: 50% 0 0 0;
  }
  50% {
    border-radius: 50% 50% 0 0;
  }
  75% {
    border-radius: 50% 50% 50% 0;
  }
  100% {
    border-radius: 50%;
  }
}
@media screen and (max-width: 975px) {
  .about__me {
    flex-flow: column nowrap;
  }
  .about__me h3 {
    font-size: 3em;
    text-align: center;
  }
  .about__me p {
    width: 100%;
  }
  .about__skills {
    padding: 0;
  }
  .about__skills h3 {
    font-size: 3em;
  }
  .about__skills .bar {
    width: 80vw;
  }
  .about__joke {
    flex-direction: column-reverse;
    padding: 0;
  }
  .about__joke ul li {
    font-size: 16px;
  }
  .about__joke--text {
    align-self: center;
    margin: 2em;
  }
  .about__joke--img {
    display: none;
  }
  .about .red {
    height: 20px;
    width: 20px;
  }
}
.home {
  display: flex;
  flex-flow: column nowrap;
}
.home__intro {
  display: grid;
  grid-template: 40vw/50vw 50vw;
  padding: 4.5em 0;
}
.home__intro h2 {
  color: #fff;
  font-size: 7.5em;
  font-weight: bold;
  letter-spacing: 0.3px;
  text-transform: capitalize;
}
.home__intro ul li {
  padding: 0 2em;
}
.home__intro--dreamer {
  position: relative;
  -webkit-animation: slide-left 3s normal;
  -moz-animation: slide-left 3s forwards;
  -o-animation: slide-left 3s normal;
  animation: slide-left 3s normal;
}
.home__intro--dreamer h2 {
  animation: left-content 15s;
  color: #231d1e;
  margin-top: -0.5em;
  position: absolute;
}
.home__intro--dreamer img {
  object-fit: cover;
  height: 45vw;
  width: 50vw;
}
.home__intro--coder {
  position: relative;
  -webkit-animation: slide-right 2s reverse backwards;
  -moz-animation: slide-right 2s reverse backwards;
  -o-animation: slide-right 2s reverse backwards;
  animation: slide-right 2s reverse backwards;
}
.home__intro--coder h2 {
  animation: left-content 15s;
  color: #e8e3de;
  margin-left: 100%;
  margin-top: -0.5em;
  position: absolute;
  right: 0;
  text-align: right;
  transform: scaleX(-1);
}
.home__intro--coder img {
  object-fit: cover;
  height: 45vw;
  width: 50vw;
}
.home__work {
  height: auto;
  padding: 3em;
}
.home__work--img {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.home__work--img figure {
  color: #888eba;
  font-size: x-large;
  position: relative;
  text-align: center;
}
.home__work--img figure img {
  padding: 2em;
  opacity: 0.2;
  width: 30vw;
}
.home__work--img figure img:hover {
  opacity: 1;
}
.home__work--img figure figcaption {
  bottom: 2.5em;
  position: absolute;
  right: 2.5em;
}
.home__work--more {
  color: #3e436b;
  font-size: 40px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.home__work--title {
  height: 3px;
  background: #B4B89F;
  border-bottom: black;
  position: relative;
}
.home__work--title h3 {
  background-color: #212121;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
  display: block;
  color: #e8e3de;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0px;
}

@-webkit-keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes left-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-moz-keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@-o-keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes left-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, -50%, 0);
  }
  20%, 80% {
    transform: translate3d(2px, -50%, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-3px, -50%, 0);
  }
  40%, 60% {
    transform: translate3d(3px, -50%, 0);
  }
}
@media screen and (max-width: 799px) {
  .home__intro {
    flex-direction: column;
    padding: 3em 0 0;
  }
  .home__intro--dreamer {
    display: none;
  }
  .home__intro--coder {
    position: relative;
    width: 100vw;
  }
  .home__intro--coder .next {
    color: #3e436b;
    left: 10vw;
    position: absolute;
    top: 60vh;
    font-size: 3em;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation: wavering 2s infinite;
    -moz-animation: wavering 2s infinite;
    -o-animation: wavering 2s infinite;
    animation: wavering 2s infinite;
  }
  .home__intro--coder h2 {
    margin-top: 5px;
    right: 8px;
    position: absolute;
  }
  .home__intro--coder img {
    height: 80vh;
    width: 100%;
  }
  .home__work {
    display: none;
  }
}
@-webkit-keyframes wavering {
  0% {
    -webkit-transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: translate(0px, 22px);
    animation-timing-function: ease-in-out;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
}
@-moz-keyframes wavering {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translate(0px, 22px);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
}
@-o-keyframes wavering {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translate(0px, 22px);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
}
@keyframes wavering {
  0% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translate(0px, 22px);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate(0px, 0px);
    animation-timing-function: ease-in-out;
  }
}
.portfolio__work {
  padding: 4em 3em 3em;
}
.portfolio__work h3 {
  display: block;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  letter-spacing: 0.3px;
  font-size: 7.5em;
  font-family: "Oswald", sans-serif;
  margin-block-end: 0.3em;
  -webkit-animation: slide-left 5s normal;
  /* Safari 4+ */
  -moz-animation: slide-left 5s forwards;
  /* Fx 5+ */
  -o-animation: slide-left 5s normal;
  /* Opera 12+ */
  animation: slide-left 5s normal;
  /* IE 10+, Fx 29+ */
}
.portfolio__work__title {
  height: 3px;
  background: #B4B89F;
  border-bottom: black;
  position: relative;
}
.portfolio__work__title h3 {
  background-color: #212121;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  text-align: center;
  display: block;
  color: #e8e3de;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0px;
}

.folio__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 15rem);
  grid-gap: 20px;
  max-width: 90%;
  max-height: 100%;
  margin: auto;
}
.folio__grid p {
  text-align: justify;
  overflow: auto;
}
.folio__grid figure {
  display: inline-block;
  position: relative;
}
.folio__grid figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease;
  border-radius: 5px;
  filter: grayscale(80%);
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
}
.folio__grid figure img:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  filter: none;
}
.folio__grid figure figcaption {
  display: inline-block;
  position: absolute;
  bottom: 8%;
  right: 8%;
  left: 8%;
  width: 84%;
  height: 80px;
  line-height: 80px;
  background-color: #9c8383;
  text-align: center;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
}
.folio__grid figure figcaption:hover {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
}

@media screen and (max-width: 799px) {
  .portfolio {
    margin-top: 1.5em;
  }
  .portfolio__work {
    text-align: center;
    padding: 2em 1em 1em;
  }
  .portfolio__work h3 {
    font-size: 5em;
  }
  .portfolio .folio__grid {
    grid-template-columns: 60vw;
    grid-template-rows: auto repeat(8, 40vw);
    grid-gap: 30px;
    justify-content: center;
  }
  .portfolio .folio__grid p, .portfolio .folio__grid figure {
    justify-self: center;
  }
  .portfolio .folio__grid img {
    margin: auto;
  }
  .portfolio .folio__grid p {
    text-align: justify;
  }
}
.form__field--wrapper {
  display: flex;
  flex-flow: column nowrap;
  padding: 3em 15em;
  text-transform: capitalize;
}
.form__field--wrapper button {
  color: #777;
  background: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b1b1b1;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  line-height: 30px;
  margin: 40px 0 -20px;
  outline: none;
  padding: 0 13px 6px;
  transition: border-bottom-color 0.2s cubic-bezier(0.27, 0.05, 0.42, 0.69);
  width: 70px;
}
.form__field--item {
  letter-spacing: 0.1px;
  margin: 40px 0 -20px;
  padding: 0 13px 6px;
}
.form__field--item:active {
  opacity: 0;
}
.form__field--placeholder {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-bottom-color: currentcolor;
  border-bottom-width: medium;
  outline: none;
  padding: 0 13px 6px;
  transition: border-bottom-color 0.2s cubic-bezier(0.27, 0.05, 0.42, 0.69);
  width: 311.75px;
}
.form__field--wrapper label:nth-child(5n) {
  margin-bottom: -40px;
}
.form textarea {
  width: 100%;
}

@media screen and (max-width: 799px) {
  .form__field--placeholder {
    width: auto;
  }

  .form__field--wrapper {
    padding: 3em 3em;
  }
}

/*# sourceMappingURL=style.css.map */
