@import "../utils/variable";

.about {
    .red {
        background: $--color-tonic;
        border-radius: 50%; // or 20px
        height: 40px;
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        // ANIMATION //
        animation : square-to-circle  2s infinite alternate;  
    }
          
    &__me {
        align-items: baseline;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding: 3em;
        
        h3 {
            @include big-title(color($--color-blue));
            margin-block-end: 0.3em;

            // KEYFRAMES ANIMATION //
            -webkit-animation: slide-left 5s normal; // SAFARI //
            -moz-animation:    slide-left 5s forwards; // FX //
            -o-animation:      slide-left 5s normal; // OPERA // 
            animation:         slide-left 5s normal; // IE FX //
        }

        p {
            margin: auto;
            text-align: justify;
            width: 50%;

            // KEYFRAMES ANIMATION //
            -webkit-animation: 5s slide 5s normal; 
            -moz-animation:    5s slide 5s forwards; 
            -o-animation:      5s slide 5s normal; 
            animation:         5s slide 5s normal; 
        }
    }

    &__skills {
        padding: 3em;

        h3 {
            @include big-title($--color-blue);
            margin-block-end: 0;
            margin-inline-end: 1.5em;
            text-align: right;

            // KEYFRAMES ANIMATION //
            -webkit-animation: slide-left 5s normal;
            -moz-animation:    slide-left 5s forwards;
            -o-animation:      slide-left 5s normal;
            animation:         slide-left 5s normal;
        }

        // PROGRESS BAR //
        .bar {
	        @include bar;
        }

        h4 {
            font-size: 12px;
            text-transform: uppercase;
        }

        .bar__progress--html {
            @include progress-bar($width: 40vw);
            animation: bar-animation 1000ms 2s;
        }

        .bar__progress--css {
            @include progress-bar($width: 30vw);
            animation: bar-animation 1000ms 3s;
        }

        .bar__progress--js {
            @include progress-bar($width: 10vw);
            animation: bar-animation 1000ms 4s;
        }

        .bar__progress--react {
            @include progress-bar($width: 15vw);
            animation: bar-animation 1000ms 5s;
        }

        .bar__progress--node {
            @include progress-bar($width:10vw);
            animation: bar-animation 1000ms 6s;
        }

        .bar__progress--sql {
            @include progress-bar($width: 15vw);
            animation: bar-animation 1000ms 7s;
        }
    }

    &__joke { 
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        padding: 3em;

        &--img {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;

            img {
                animation: roll-in 4s ease;
                box-shadow: 0 1em .5em $--color-shadow;
                position: relative;
                width: 25vw;
            }

            h3 {
                animation: roll-in 4s ease;
                text-align: right;
            }
            
        }

        .vertical {
            @include vertical;
            align-self: start;
            margin: 3em -.6em;
        }
 
        &--text {
            margin: auto;

            h3 {
                animation: text-animation 3s 300ms reverse;
            }

            ul li {
                font-size: 1.5em;
            }

            ul li:nth-child(1) {
                animation: text-animation 3s 400ms reverse;
            }

            ul li:nth-child(2) {
                animation: text-animation 3s 500ms reverse;
            }

            ul li:nth-child(3) {
                animation: text-animation 3s 600ms reverse;
            }

            ul li:nth-child(4) {
                animation: text-animation 3s 700ms reverse;
            }

            ul li:nth-child(5) {
                animation: text-animation 3s 800ms reverse;
            }

            ul li:nth-child(6) {
                animation: text-animation 3s 900ms reverse;
            }

            ul li:nth-child(7) {
                animation: text-animation 3s 1s reverse;
            }

        }
    }
}

// ANIMATION //

// SLIDE //
@-webkit-keyframes slide {
    0%   {transform: translateX(-100%), margin-left(100%)};
    100% {transform: translateX(0)}
}
@-moz-keyframes slide {
    0%   {transform: translateX(-100%), margin-left(50vw)};
    100% {transform: translateX(0)}
}
@-o-keyframes slide {
    0%   {transform: translateX(-100%), margin-left(50vw)};
    100% {transform: translateX(0)}
}
@keyframes slide {
    0%   {transform: translateX(-100%), margin-left(50vw)};
    100% {transform: translateX(0)}
}

// PROGRESS //
@keyframes bar-animation {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

// TEXT ANIMATION //
@keyframes text-animation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

// SHAKE //
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px,-50%,0);
    }
    20%, 80% {
        transform: translate3d(2px,-50%,0);
    }
    30%, 50%, 70% {
        transform: translate3d(-3px,-50%,0);
    }
    40%, 60% {
        transform: translate3d(3px,-50%,0);
    }
}


// ROLL-IN //
@keyframes roll-in {
    0% {
      opacity: 0;
      transform: translateX(-100%) rotate(-120deg);
    }
    100% {
      opacity: 1;
      transform: translateX(0px) rotate(0deg);
    }
}

// SQUARE-TO-CIRCLE //
@keyframes square-to-circle {
    0%  {
      border-radius:0 0 0 0;
    }
    25%  {
      border-radius:50% 0 0 0;
    }
    50%  {
      border-radius:50% 50% 0 0;
    }
    75%  { 
      border-radius:50% 50% 50% 0;
    }
    100% {  
      border-radius:50%;
    }
}

// MEDIA QUERIES //
@media screen and (max-width:975px) {
    .about {
        &__me {
            flex-flow: column nowrap;

            h3 {
                font-size: 3em;
                text-align: center;
            }

            p {
                width: 100%;
            }
        }

        &__skills {
            padding: 0;

            h3 {
                font-size: 3em;
            }

            .bar {
                width: 80vw;
            }
        }

        &__joke {
            flex-direction: column-reverse;
            padding: 0;

            ul li {
                font-size: 16px;
            }

            &--text {
                align-self: center;
                margin: 2em;
            }

            &--img {
                display: none;
            }
        }

        .red {
            height: 20px;
            width: 20px;
        }
    }   
}