@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 1em 2em;

    ul {
        li {
            display: inline;
            margin: 0 12px;
        }
    }

    &__page {
        justify-self: center;
    }

    &__network {
        justify-self: right;
    }

}

// MEDIA QUERIES \\
@media screen and (max-width: 875px) {
    .footer {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .footer__link {
            display: none;
        }
    }
}